*{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 800px;
  margin: 0 auto;
}

.content-text{
  margin-bottom: 50px;
}
.chooseLevel__btn{
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
.searchBox{
  border: 1px solid black;
  display: flex;
  padding: 5px;
  line-height: 29px;
  align-items: center;

  img{
    margin-right: 5px;
    height: 24px;
  }

  p{
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .searchInput{
      border: none;
      font-size: 100%;
      flex: 1 1;
      height: 24px;
      font-weight: 700;
      &:focus{
        outline: none; 
      }
  }
}

.searchResults{
  list-style-type: none;
  border: 1px solid black;


  

  .searchResult{
    display: flex;
    padding: 5px;

    img{
      margin-right: 5px;
    }  

    p{
      font-size: 18px;
    }
    
    .searchResult__answer{
      position: absolute;
      font-size: 18px;
    }

    .mask{
      height: 25px;
      position: absolute;
      background-color: #2b7de9;
    }

    .visible{
      visibility: visible;
    }

    .hidden{
      visibility: hidden;
    }
  }
}